# Dependencies
node_modules/

# Production build
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
.vite/

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.swp
*.swo

# Coverage
coverage/

# Misc
*.tmp
*.temp